ADDR=0.0.0.0:8088
DATABASE_URL=host=127.0.0.1 user=mydata_market password=YOUR_APP_PASSWORD dbname=mydata_market port=5432 sslmode=disable
JWT_SECRET=change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
CORS_ORIGINS=*

# QINIU_ACCESS_KEY=
# QINIU_SECRET_KEY=
# QINIU_BUCKET=
# QINIU_DOMAIN=
