[Desktop Entry]
Name=DataKeep
Comment=跨平台文件同步应用
Exec=datakeep_flutter
Icon=app_icon
Type=Application
Categories=Utility;FileTransfer;
StartupWMClass=com.example.datakeep_flutter
