[Desktop Entry]
Name=文件管理
Comment=跨平台文件管理与同步
Exec=datakeep_flutter
Icon=app_icon
Type=Application
Categories=Utility;FileTransfer;
StartupWMClass=site.datakeep
