[Desktop Entry]
Name=数据管理
Comment=跨平台数据管理与同步
Exec=datakeep_flutter
Icon=app_icon
Type=Application
Categories=Utility;FileTransfer;
StartupWMClass=site.datakeep
